/* custom.css */
img{max-width: 100%;}
.download-via-dv>div{
	min-height: 350px;
}
/* media query */

@media (max-width: 991px){
	.top-header-bar .navbar-nav li{margin: 0 15px 15px 0;}
	.top-header-bar .navbar-nav li a{margin: 0 !important;}
	.top_search_dv{text-align: right;}
	.top_search_dv form{display: inline-block;}
	.download-via-dv{text-align: center;}
	.download-via-dv .navbar{justify-content: center;}
	.download-via-dv h3.text-dark{text-align: center !important;}
	.download-via-dv form{justify-content: center; margin-bottom: 30px;}
	.left-side-menu a{font-size: 14px; margin-bottom: 15px; padding: 2px 3px;}
	.left-side-menu a i{padding: 3px; margin: 0 1px 0 0; width: auto;}
}
@media (max-width: 767px){
	.top-header-bar .language-dv{text-align: left !important;}
	.col-left-bx .row{margin: 0 -15px !important;}
	.card{width: 100% !important; margin-bottom: 30px;}
	.col-right-container .row{margin: 0 -15px !important;}
	#setborder{height: auto !important;}
}

/*---ul blue bullet----*/
@media only screen and (min-width: 768px){
	.static-content-section ul li:before {
		content: "\2022";
		color: #0083ca;
		text-align: center;
		line-height: 0;
		font-size: 36px;
		display: inline;
		position: relative;
		top: 4px;

		margin: 0 8px 0 -20px;}}

		.static-content-section ul li{
			margin-top:15px;
		}


		.scrollspy-example {
			height: 360px;
		}

		/*--for business pages ccs----*/
		.align-on-img{
			color:white;
			margin-left:110px;
		}
		.set-btn{
			border:1px solid rgb(0, 131, 202);
			
			text-align: center;
			text-decoration-style: none;
			font-size: 14px;
			font-weight: bold;
			padding:5px 30px 5px 30px;
			color:rgb(0, 131, 202);
		}
		.set-text{
			margin-left:60px;
		}
		.set-text1{
			margin-left:90px;
		}

		.margin-set{
			margin-top:5px;
			margin-right:5px;
		}

		#set1{
			padding-right:25px;
		}
		.margin1-set{
			margin-left:15px;
		}
		.padd-right{
			padding-right: 20px;
		}

		/*-------post free adds---------*/

		.normalblueclr {
			color: #008bcf;
		}

		/*-----------postfreeadform--------*/

		.backcolor{
			height:50px;
			background-color: rgb(228, 228, 171);
			margin-left:30px;
		}

		.set-padd{
			padding:25px 25px 100px;

		}
		.align-set{
			padding:10px 10px;
			border:1px solid rgb(209, 72, 72);
			margin:3px;
			background-color: rgb(241, 241, 215);
		}


		/* side nav */
		.header-fixed{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;	
		}
		.header-fixed .logo-link{
			max-width: 60px;
		}
		.header-fixed .form-header-dv,
		.header-fixed .form-header-dv .mt-3{
			margin-top: 0 !important;
		}



		.sidenav {
			height: 100%;
			width: 0%;
			position: fixed;
			z-index: 11;
			top: 0;
			left: 0;
			background-color: white;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 15px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

		.sidenav a:hover {
			color: rgb(0, 131, 202);
		}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
			.sidenav {padding-top: 15px;}
			.sidenav a {font-size: 18px;}
		}
		/* common classes */


		.set-pad-mar{
			margin:0 -5px !important;
		}
		.set-pad-mar .col-sm-3{padding: 0 5px;}


		/* start accordian */
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}

		.active1, .accordion:hover {
			background-color: #ccc;
		}

		.accordion:after {
			content: '\002B';
			color: #777;
			font-weight: bold;
			float: right;
			margin-left: 5px;
		}

		.active1:after {
			content: "\2212";
		}

		.panel {
			padding: 0 18px;
			background-color: white;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
		}


		.set-background
		{
			margin-top:50px;
			background-color:rgb(234,240,175);
			padding:60px;
			width:100%;
		}
		.set-space{
			border:1px dotted grey;
			background-color: white;
			padding:20px;
			border-radius: 50px 50px 50px 50px;
			margin-top:20px;
		}
		.text-set{
			position:relative;
			margin-top:px;

		}
		.set_background1{
			margin-top:50px;
			background-color:rgb(121,210,230);
			padding:60px;
			width:100%;

		}
		.set_background2{
			margin-top:0px;
			background-color:rgb(94,189,211);
			width:100%;

		}


		/* Boostrap Buttons Styling */

		.btn-default {
			font-family: Raleway-SemiBold;
			font-size: 16px;
			color: rgb(0, 131, 202);
			letter-spacing: 2px;
			line-height:20px;
			border: 1px solid rgb(0, 131, 202);
			border-radius: 50px;
			background: transparent;
			transition: all 0.3s ease 0s;
			margin-left:10px;
		}

		.btn-default:hover {
			color: #FFF;
			background: red;
			border: 1px solid rgb(0, 131, 202);
		}

		.btn-default1 {
			font-family: 'Times New Roman', Times, serif;
			font-size: 20px;
			color: rgb(0, 131, 202);
			border: 1px solid rgb(0, 131, 202);
			border-radius: 50px;
		
		}

		.btn-default1:hover {
			color:white;
			background: rgb(0, 131, 202);
			border: 1px solid rgb(0, 131, 202);
		}
		.fa2 {
			padding: 0px;
			margin-right:30px;
		}
		.back_color{
			margin-top:50px;
			background-color:rgb(234,240,176);
			height:600px;
			width:100%;

		}
		#owl-demo .item{
			margin: 3px;
		}
		#owl-demo .item img{
			display: block;
			width: 100%;
			height: auto;
		}

		.rio-promos {
			max-width: 1000px;
			margin: 0 auto;
		}
		.slick-slide {
			margin: 0 5px;
		}
		.slick-list {
			margin: 0px -5px 0px -5px;
		}
		button.slick-next, button.slick-next:hover {
			position: absolute;
			top: 41%;
			right: 54px;
			width: 47px;
			height: 75px;
			background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
			background-size: 95px;
		}
		button.slick-prev, button.slick-prev:hover {
			position: absolute;
			top: 41%;
			left: 15px;
			z-index: 1;
			width: 47px;
			height: 75px;
			background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
			background-size: 95px;
			background-position-x: right;
		}
		.slick-prev:before, .slick-next:before {
			font-size: 70px;
			color: #EA8496;
			line-height: inherit;
			font-weight: bold;
		}
		.rio-promos img {
			height: 324px;
		}

		/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
		/* Slider */
		.slick-slider
		{
			position: relative;

			display: block;

			-moz-box-sizing: border-box;
			box-sizing: border-box;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			-webkit-touch-callout: none;
			-khtml-user-select: none;
			-ms-touch-action: pan-y;
			touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}

		.slick-list
		{
			position: relative;

			display: block;
			overflow: hidden;

			margin: 0;
			padding: 0;
		}
		.slick-list:focus
		{
			outline: none;
		}
		.slick-list.dragging
		{
			cursor: pointer;
			cursor: hand;
		}

		.slick-slider .slick-track,
		.slick-slider .slick-list
		{
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		.slick-track
		{
			position: relative;
			top: 0;
			left: 0;

			display: block;
		}
		.slick-track:before,
		.slick-track:after
		{
			display: table;

			content: '';
		}
		.slick-track:after
		{
			clear: both;
		}
		.slick-loading .slick-track
		{
			visibility: hidden;
		}

		.slick-slide
		{
			display: none;
			float: left;

			height: 100%;
			min-height: 1px;
		}
		[dir='rtl'] .slick-slide
		{
			float: right;
		}
		.slick-slide img
		{
			display: block;
		}
		.slick-slide.slick-loading img
		{
			display: none;
		}
		.slick-slide.dragging img
		{
			pointer-events: none;
		}
		.slick-initialized .slick-slide
		{
			display: block;
		}
		.slick-loading .slick-slide
		{
			visibility: hidden;
		}
		.slick-vertical .slick-slide
		{
			display: block;

			height: auto;

			border: 1px solid transparent;
		}
		.slick-arrow.slick-hidden {
			display: none;
		}
		@charset 'UTF-8';
		/* Slider */
		.slick-loading .slick-list
		{
			background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
		}

		/* Icons */
		@font-face
		{
			font-family: 'slick';
			font-weight: normal;
			font-style: normal;

			src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
			src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
		}
		/* Arrows */
		.slick-prev,
		.slick-next
		{
			font-size: 0;
			line-height: 0;

			position: absolute;
			top: 50%;

			display: block;

			width: 20px;
			height: 20px;
			margin-top: -10px;
			padding: 0;

			cursor: pointer;

			color: transparent;
			border: none;
			outline: none;
			background: transparent;
		}
		.slick-prev:hover,
		.slick-prev:focus,
		.slick-next:hover,
		.slick-next:focus
		{
			color: transparent;
			outline: none;
			background: transparent;
		}
		.slick-prev:hover:before,
		.slick-prev:focus:before,
		.slick-next:hover:before,
		.slick-next:focus:before
		{
			opacity: 1;
		}
		.slick-prev.slick-disabled:before,
		.slick-next.slick-disabled:before
		{
			opacity: .25;
		}

		.slick-prev:before,
		.slick-next:before
		{
			font-family: 'slick';
			font-size: 20px;
			line-height: 1;

			opacity: .75;
			color: white;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.slick-prev
		{
			left: -25px;
		}
		[dir='rtl'] .slick-prev
		{
			right: -25px;
			left: auto;
		}
		.slick-prev:before
		{
			content: '';
		}
		[dir='rtl'] .slick-prev:before
		{
			content: '';
			font-weight: bold;
			font-size: 20px;
		}

		.slick-next
		{
			right: -25px;
		}
		[dir='rtl'] .slick-next
		{
			right: auto;
			left: -25px;
		}
		.slick-next:before
		{
			content: '';
		}
		[dir='rtl'] .slick-next:before
		{
			content: '';
		}

		/* Dots */
		.slick-slider
		{
			margin-bottom: 30px;
		}

		.slick-dots
		{
			position: absolute;
			bottom: -45px;

			display: block;

			width: 100%;
			padding: 0;

			list-style: none;

			text-align: center;
		}
		.slick-dots li
		{
			position: relative;

			display: inline-block;

			width: 20px;
			height: 20px;
			margin: 0 5px;
			padding: 0;

			cursor: pointer;
		}
		.slick-dots li button
		{
			font-size: 0;
			line-height: 0;

			display: block;

			width: 20px;
			height: 20px;
			padding: 5px;

			cursor: pointer;

			color: transparent;
			border: 0;
			outline: none;
			background: transparent;
		}
		.slick-dots li button:hover,
		.slick-dots li button:focus
		{
			outline: none;
		}
		.slick-dots li button:hover:before,
		.slick-dots li button:focus:before
		{
			opacity: 1;
		}
		.slick-dots li button:before
		{
			font-family: 'slick';
			font-size: 6px;
			line-height: 20px;

			position: absolute;
			top: 0;
			left: 0;

			width: 20px;
			height: 20px;

			content: '•';
			text-align: center;

			opacity: .25;
			color: black;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.slick-dots li.slick-active button:before
		{
			opacity: .75;
			color: black;
		}



		/*Profile Card 5*/
		.profile-card-5{
			margin-top:5px;
		}

		.profile-card-5 .card-img-block {
			width: 91%;
			margin: 0 auto;
			position: relative;
			top: -20px;

		}
		.profile-card-5 .card-img-block img{
			border-radius:5px;
			box-shadow:0 0 10px rgba(0,0,0,0.63);
			width:100%;
			height:50%;
		}
		.profile-card-5 h5{
			color:#4E5E30;
			font-weight:600;
		}
		.profile-card-5 p{
			font-size:14px;
			font-weight:300;
		}

		.text_set{
			padding:180px;
		}
		.text_set1{
			padding-top:10px;
			line-height: 20px;
			margin-left:0px;


		}
		.set_img{
			width:4%;
		}
		.icon-bar1{
			text-align:center;
			padding:150px
		}
		.set_backgroung4{
			background-color:rgb(81,81,81);
			margin-top:0px;
		}

/* #hexagon {
	width: 66px;
	height: 104px;
	background: rgba(49,176,213,1);
	position: relative;
  z-index:1;
  margin:0 auto;
}
#hexagon:before {
	content: "";
	left:-66px;
	display:block;
  position: relative;
border-right: 30px solid rgba(49,176,213,1);
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
}
#hexagon:after {
	content: "";
  right:-66px;
  top:-104px;
  position: relative;
  display:block;
border-left: 30px solid rgba(49,176,213,1);
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
}
.hex-over {
  z-index:5;
  position:relative;
  width:100%;
  top:-100px;
  text-align:center;
  color:#fdfdfd;
  font-size:12px;
  padding:0 0px 1px 0px;
  font-weight:bold;
  letter-spacing:2px;
}
*/
.set_border{
	margin:70px;
	margin-left:20%;
	width:700px;
	background-color:white; 
}
.set_background3{
	background-color:rgb(234,241,172);
	width:100%;
	
}
.set_background4{
	background-color:rgb(118,229,213);
	width:100%;
	height: 600px;	
}

/* new css */
body{
	background-color: #eee;
	font-size: 14px;
	color:#80807F;
}
a{
	display: inline-block;
	transition: all 0.3s ease-out;
	text-decoration: none;
	outline: none;
}
a:hover,
a:focus{
	text-decoration: none;
	outline: none;
}
p{margin: 0 0 15px;}

/* common classes */
.bg-orange{background-color: #ef4446;}
.bg-gray{background-color: #eee;}

.exshadow{
	transition: all 0.3s ease-out;
}
.overlay{position: relative;}
.overlay:before{
	content: '';
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.z-index3{z-index: 3; position: relative;}
.row-7{
	margin: 0 -7px;
}

.btn-custom{
	padding: 10px 20px;
	border-radius: 2px;
	text-align: center;
	font-size: 15px;
	color: #fff !important;
	transition: all 0.3s ease-out;
}
.btn-custom:hover,
.btn-custom:focus{
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
}
.btn-yellow{
	background-color: #fbee23;
	color: #333 !important;
}
.btn-yellow:hover,
.btn-yellow:focus{
	color: #333;
}
.btn-red{background-color: #c3262f;}
.btn-blue{background-color: #18c6ad;}

.bg-yellow{background-color: #fbee23;}
.bg-red{background-color: #c3262f;}
.bg-blue{background-color: #18c6ad;}

.text-yellow{color: #fbee23;}
.text-red{color: #c3262f;}
.text-blue{color: #18c6ad;}
.text-black{color: #000;}
/* common classes */

.main-header-bar{
	background-color: #fff;
	padding: 0.5rem 0;
	border-bottom: 1px solid #ddd;
}
/* top-header-bar */
.top-header-bar ul li{
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.border.exshadow.px-3{
	background-color: #fff;
	height: 100%;
}
.logo-link{
	display: inline-block;
	max-width: 90px;
}
/* top-header-bar */

/* home page */
.col-left-bx .left-side-menu a{
	padding: 10px 10px;
}
.col-left-bx .left-side-menu a img{
	margin-right: 8px;
}
.col-right-container .exshadow{
	background-color: #fff;
}

.social-icons{
	align-items: center;
	margin-left: 0;
	margin-right: 0;
}
.social-icons h6{margin-right: 15px;}
.social-icons a{
	padding: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 21px;
	color:#333;
	border-radius: 100%;
	transition: all 0.2 ease;
	text-decoration: none;
}
.social-icons a:hover,
.social-icons a:focus{
	color: #fff;	
	background-color: #333;
}


.footer-sec .navbar a{
	color: #333;
}
.footer-sec .navbar a:hover,
.footer-sec .navbar a:focus{
	color: #007bb5;
}

.owl-carousel{
	padding: 0 15px;
}
.owl-theme .owl-nav{
	
}
.owl-theme .owl-nav [class*=owl-]{
	position: absolute;	
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px !important;
	line-height: 30px !important;
	vertical-align: middle;

}
.owl-theme .owl-nav [class*=owl-] span{
	display: inline-block;
	vertical-align: super;
}
.owl-carousel .owl-nav .owl-prev{
	left: -12px;
}
.owl-carousel .owl-nav .owl-next{
	right: -12px;
}

.crad-dv-top{
	font-weight: 500;
	align-items: baseline;
	padding: 10px 0;
}
.crad-dv-top .name{
	margin-right: 0.5rem;
	font-size: 18px;
}
.crad-dv-top .cat{
	margin-left: auto;
	font-size: 15px;
	font-style: italic;
}
.crad-dv-top span a{text-decoration: none;}
.crad-dv-top .name a{color:#c3262f;}
.crad-dv-top .cat a{color: #18c6ad;}

.sub_cat_list{
	margin: 0 -15px 15px;
	border-bottom:1px solid #efefef;
}
.sub_cat_list a{
	display: block;
	padding: 10px 15px;
	color: #80807F;
	border-top: 1px solid #efefef;
	position: relative;
}
.sub_cat_list a:after{
	content: '\f105';
	position: absolute;
	color: #80807F;
	font: normal normal normal 14px/1 FontAwesome;
	right: 15px;
	font-size: 16px;
}
.sub_cat_list *{transition: all 0.3s ease-out;}
.sub_cat_list a:hover,
.sub_cat_list a:focus,
.sub_cat_list a:hover:after,
.sub_cat_list a:focus:after{
	color: #18c6ad;
}

.cat_banner{
	position: relative;
}
.cat_banner .img{
	height: 300px;
	width: 100%;
}
.cat_banner *{
	outline: none;
}
.cat_banner .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.cat_banner .slick-prev, 
.cat_banner .slick-next{
	height: 40px;
	width: 40px;	
	background: #000;
	transition: 0.1s;
	top:50% !important;
	transform: translateY(-50%) !important;
}
.cat_banner .slick-prev{left: 15px !important;}
.cat_banner .slick-next{right:15px !important;}
.cat_banner .slick-prev:hover, 
.cat_banner .slick-next:hover{
	height: 40px;
	width: 40px;
	background: #18c6ad;
}
.cat_banner .slick-prev:before, 
.cat_banner .slick-next:before{
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	font-size: 16px;
}
.cat_banner .slick-prev:before{
	content: '\f053';
}
.cat_banner .slick-next:before{
	content: '\f054';
}
.cat_banner .slick-slide{
	margin: 0;
}
/* home page */

/* post page */
.post-tab-nav{
	min-height: 1000px;
}
.post-tab-nav a img{
	width: 40px;
	margin-right: 15px;
}
.post-tab-nav a{
	border-radius: 0 !important;
}
.postfree-main-sec{
	min-height: 100%;
}
/* post page */
.set_padding{
	background-color:rgb(12,151,195);
	padding:18px;
}
.font_sioze{
	font-size:15px;
	text-align:left;
}
.data {
	display: none;
}

.data4 {
	display: none;
}
.countrydrop
{
	height:15px;
	overflow: hidden;
}

.sidenav::-webkit-scrollbar { width: 0 !important }
.sidenav { -ms-overflow-style: none; }
.sidenav { overflow: -moz-scrollbars-none; }
.panel-bx-sec{
	max-height: none;
	overflow: visible;
}

.border_set_height
{
	height:100px;

}
.bdr_radius{
	border-radius: 0%;
}

@media (max-width: 992px) 
	{
	.media_color{
		font-size:14px;
	}
}

@media (max-width: 768px) 
	{
	.app_set .btn-default1{
		font-size:14px;
		margin:5px 10px;
		border-radius: 50px;
	}
}

@media (max-width: 768px) 
	{
	.txt_media{
		font-size:18px;
		width:100%;
	}
	.textline{
		font-size:10px;
		width:100%;
	}
}
.bg-set-clr:hover{
background-color:rgb(231, 242, 248);
}


@media (max-width: 768px)
{
	.text_set h4{
		font-size:15px !important;		
	}
	.text_set h1{
		font-size:20px !important;		
	}
	.icon-bar1 a i{
		font-size:20px !important;
	}
	.icon-bar1 a p{
		font-size:16px !important;
	}
	.text_set1 h5{
		font-size:15px !important;
	}
	.text_set1 h4{
		font-size:18px !important;
	}
	.text_set{
		padding:100px;
	}
	.icon-bar1{
		padding:20px;
	}
	.set_backgroung3{
		height:200px !important;
	}
	.top-nav-expand a{
		font-size:11px !important;
	}
	.txt-font-set h3{
		font-size:20px !important;
	}
	.txt-font-less li{
		font-size:8px !important;
	}
	.txt-btn-custom{
		font-size: 10px;
	}
	.txt-about-us li a{
		font-size: 16px;
	}
}
@media (max-width: 992px){
	.margin-top{
		margin-top:10px !important;
	}
	.txt-text-less h5,a{
		font-size:16px;
	}
	.txt-text-less a{
		font-size:16px;
	}
	.align-on-img h1{
		font-size:25px;
	}
}
