.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius:8%;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(156, 213, 251);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.makebox{
    height: 250px;
    margin:4px;
    padding:10px;
}


p{
    color:grey;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    text-align:justify;
}
ul, li a{
    text-decoration:none;
    list-style-type: none;
    padding-left:7px;
    padding-top:0px;
    font-size: 15px;
    color:rgb(37, 31, 31);
  
}
ul li{
    padding-bottom: 5px;
    word-wrap: break-word;
}






img{
        width:100%;
}

#owl-demo .item{
margin: 3px;
}
#owl-demo .item img{
display: block;
width: 100%;
height: auto;
}

#setborder{
  

  width:800px;
  height:210px;
  margin-right:20px;
  padding-right:20px;
  padding-top:12px;
  margin-top:15px;
  padding-left:20px;
  
}
#formsetup{

    margin-top: 12px;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width:50px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 55%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  .fa-apple {
    background: #a4c639;
    color: white;
  }
  .fa-android{
    background: #007bb5;
    color: white;
  }
  .fa-windows{ 
    background: #dd4b39;
    color: white;

  }
  