*{
  margin:0;
  padding:0;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius:8%;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(156, 213, 251);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.makebox{
  height: 250px;
  margin:4px;
  padding:10px;
}

ul, li {
  text-decoration:none;
  list-style-type: none;
  font-size: 15px;
  color:rgb(37, 31, 31);
  padding-left:;


}
ul,li {
  word-wrap:wrap;
  
}
img{
  max-width: 100%;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.icons_links a{
  padding:5px 10px;
  float:left;
  border:1px solid #000;
}


#setborder{


  width:800px;
  height:220px;
  margin-right:20px;
  padding-right:20px;
  padding-top:12px;
  margin-top:15px;
  padding-left:20px;
  
}
#formsetup{

  margin-top: 12px;
}



/*
.fa {
  padding: 20px;
  font-size: 50px;
  width:50px;
  text-align: center;
  text-decoration:none;
  margin: 5px 2px;
  border-radius: 55%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}
.font1 {
  background: #a4c639;
  color: white;
}
.font2{
  background: #007bb5;
  color: white;
}
.font3{ 
  background: #dd4b39;
  color: white;
}
*/

.exshadow:hover{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.static-nav ul li a{
  color:#666;
  text-decoration: none;
  margin-left:90px;
  padding-top:15px;
  font-size:20px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
nav ul li a:hover {
  text-decoration: underline;
}

  /* color:#666;
    padding:10px 10px 10px 10px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;*/

    .align-making{
      margin:170px 200px;
      color:white;
    }
    .heading{
      font-size:55px;
    }
    .textline
    {
      font-size:18px;
      color:white;

    }
    .marginset{
      padding:20px 300px;
      font-size:15px;
     
      
    }
    .backset{
      background-color: #666;
      margin-bottom:0px;
      padding-left: 10px;

    }

    .imgset{
      width:210px;
      height:210px;
      ;
    }
    .mset{
      margin-left:10px;
    }




    .setmargin{
      margin-left:7px;
      font-size:18px;
    }

    .changecolor{
      background-color: #008bcf;
    }

    .set-pad-mar{
     margin:0 -5px !important;
   }

   .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .fa-facebook-square{
    color:rgb(75,110,169);
  }
  .setted{
    background-color:white;
    color:black;
    width:350px;
    font-size:15px;
  }
 
/* multiple file uploaded */
  /* input[type="file"] {
    display: block;
  } */
  .imageThumb {
    min-width: 100px !important;
    min-height: 90px !important;
    max-width: 100px !important;
    max-height: 90px !important;
    /* border: 1px solid; */
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size:15px;
  }
  .remove:hover {
    background: white;
    color: black;
  }
  .dotted-box{
    overflow-x: auto !important;
    /* min-height:100px !important; */
  }
  .dotted-box span{
    border:1px dotted #68aaf1;
    margin:3px;
    cursor: pointer;
  }
  .dotted-box span:hover{
    border:1px dotted #2468b1;
  }
 
  /* .dotted-box span:hover{
   background-color:rgb(196, 226, 236);
   color:white;
  } */
  .dotted-box span p{
    padding:20px 8px 10px;
    text-align: center;
   color:#6ca7e6;

  }
  .dotted-box span p i{
   font-size:20px;
   color:#4a93e0;
  }


  .ads-body a{
    font-size: 16px;
    color:gray;
  }
  .ads-body span a{
    font-size: 17px;
    color:gray;
  }
  .price-set-add span{
    font-size: 18px;
  }
  .contain {
    position: relative;
    /* width: 50%; */
   
  }
  .ad-detail-img{
    max-height: 190px;
    max-width: 200px;
    min-height: 190px;
    min-width: 200px;
  }
  .img-horizontal{
   overflow-x: auto !important;
   /* min-height:220px; */
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  
  }
  
  .contain:hover .image {
    opacity: 0.3;
    
  }
  
  .contain:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    font-size: 20px;
    padding: 16px 32px;
  }
  .img-ads-dimension{
    max-width: 347px;
    max-height: 250px;
    min-width: 347px;
    min-height: 250px;
  }
  .txt-clr h6{
    color:rgb(53, 52, 52);
    font-size:18px;
  }
  .txt-clr span{
    color:black;
    font-size:15px;
    font-weight: normal;
  }
  .bg-clr-set{
  background-color:white;
  }
  .txt-job h6{
    /* padding:8px 0px; */
    color:black;
    font-size:18px;
  }
  .txt-job h6 span{
    font-size:16px;
    font-weight:normal;
  }
  .txt-job-sal h6{
    color:black;
    font-weight: bolder;
    font-size:18px;
  }
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 44px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }